@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply min-h-screen bg-ot-background text-ot-foreground font-mono;
  }

  #root {
    @apply min-h-screen min-w-[900px];
  }
}
